﻿@model IEnumerable<BaiTap_LeMinhKhanh.Models.Product>

<h2>Products</h2>

<table class="table">

    <div class="row">
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-3 g-4">

                @foreach (var product in Model)
                {
                    <!-- san pham -->
                    <div class="col" style="text-align: center">
                        <div class="card">
                            <img src="@product.ImageUrl" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">@product.Price</p>
                                <p class="card-text">@product.Description</p>
                                <p class="card-text">
                                    @if (product.Category != null)
                                    {
                                        @product.Category.Name
                                    }
                                </p>
                                <a class="btn btn-primary" asp-action="Display" asp-route-id="@product.Id">View</a> |
                                <a class="btn btn-primary" asp-action="Update" asp-route-id="@product.Id">Edit</a> |
                                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</table>
